__pycache__
.venv/
venv/
.env
.env.*
!.env.example

*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/
/static_root/
.idea/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir